.question {
    font-size: 170%;
}

.sidebar-left {
    width: 10%;
}

.sidebar-right {
    width: 10%;
}

.container {
    width: 80%;
}

.chartbox {
    width: 100%;
}

.chart {
    text-align: left;
    float: left;
    font-size: 120%;
}

.chart img {
    width: 100%;
}

.subpart {
    font-size: 150%;
}