.question {
    font-size: 170%;
}

.sidebar-left {
    width: 10%;
}

.sidebar-right {
    width: 10%;
}

.container {
    width: 80%;
}

.temp {
    width: 70%;
}

.emphasize {
    font-size: 200%;
}