/* OVERARCHING CSS */

* {
  box-sizing: border-box;
}

body {
  --image-size: 15vw;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  height: auto;
}

.clear {
  clear: both;
  line-height: 0;
}

.header {
  margin: 0;
}

footer {
  text-align: center;
  background: #fefefe;
  padding: 2px;
  height: 5vh;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2), 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

div {
  position: relative;
  margin: 0 auto;
}

/* NAVBAR */

nav {
  text-align: center;
  width: 100%;
  background: #2E86AB;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav a {
  font-size: 110%;
  padding: 8px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #D3D3D3;
}

nav ul {
  margin-top: 0;
  padding: 10px;
}

nav ul li {
  display: inline-block;
}

/* HOME PAGE THIRDS */

.container {
  width: 60%;
  float: left;
}

.sidebar-left, .sidebar-right {
  width: 20%;
  float: left;
}

.sidebar-left {
  padding-left: 15px;
}

.sidebar-right {
  padding-right: 15px;
}

.tweets {
  height: 100vh;
  overflow: scroll;
}

.filler-left, .filler-right {
  width: 100%;
  height: var(--image-size);
  line-height: var(--image-size);
  text-align: center;
}

.svglist {
  margin-bottom: 3%;
}

.svglist a {
  margin-left: 3%;
  margin-right: 3%;
}

.svglist img {
  width: 15%;
}

.break {
  width: 90%;
  margin-bottom: 1px;
}

.heading {
  width: 100%;
  height: var(--image-size);
}

.mid {
  width: 80%;
  line-height: var(--image-size);
  height: var(--image-size);
  text-align: center;
  vertical-align: middle;
  font-size: 4vw;
}

.filler-left img {
  width: var(--image-size);
  height: var(--image-size);
  border-radius: 50%;
}

.content {
  width: 85%;
  text-align: center;
}

.small-break {
  display: block;
  height: 15px;
}

/* MOBILE RELATED */

.mobile-view div {
  width: 0%;
  font-size: 0%;
  visibility: hidden;
}

.mobile-view .personal-desc.left {
  font-size: 0%;
  visibility: hidden;
}

/* TEXT SIZING */

.important {
  font-size: 1.7vw;
  font-weight: 700;
  text-align: left;
  width: 100%;
}

.important a {
  color: #2E86AB;
}

.important a:hover {
  color: gray;
}

.personal-desc {
  width: 100%;
  font-size: 1.5vw;
  text-align: left;
}

.personal-desc.left {
  font-size: 1.25vw;
}

.personal-desc.left a {
  color: black;
  text-decoration: none;
}

.personal-desc.left .svglist {
  text-align: center;
}

.personal-desc.a {
  text-decoration: none;
  color: white;
}

.personal-desc.blurb {
  background: #2E86AB;
  padding: 5px;
}

.personal-desc.blurb:hover {
  cursor: pointer;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* EXPERIENCE BOXES */

.experience {
  width: 85%;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.position {
  width: 100%;
  font-size: 1.7vw;
}

.expheading {
  text-align: center;
}

.exptitle {
  width: 100%;
  font-size: 1.7vw;
  color: #2E86AB;
  text-decoration: underline;
}

.exptitle:hover {
  color: rgb(189, 181, 181);
}

.expimg {
  width: 22%;
  float: left;
}

.experience-left {
  width: 75%;
  float: left;
}

.expdesc {
  width: 100%;
  font-size: 1.35vw;
}

.explink {
  width: 100%;
  font-size: 1.35vw;
  text-decoration: none;
  color: #2E86AB;
}

.explink:hover {
  color: gray;
}

.expdate {
  font-size: 1.1vw;
  font-style: italic;
  text-decoration: none;
}

.description {
  width: 90%;
  float: left;
}

.fulldesc {
  font-size: 1.4vw;
}

.desclink {
  text-decoration: none;
  color: #2E86AB;
}

.desclink:hover {
  color: gray;
}

/* PROJECTS */

.buttons {
  text-align: left;
  margin-top: 15px;
}

.button-hold {
  width: 100%;
  height: 3vw;
  font-size: 1.5vw;
  line-height: 2.3vw;
  cursor: pointer;
  user-select: none;
}

.button {
  width: 2vw;
  height: 2vw;
  float: left;
  margin-right: 5px;
  background: #2E86AB;
  border-radius: 50%;
}

.container.list {
  text-align: center;
  width: 60%;
}

.topic {
  margin-top: 20px;
}

#important-box {
  font-size: 160%;
}

.boxes {
  text-align: center;
  width: 85%;
}

.box {
  float: left;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(252, 161, 161, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box a {
  color: #2E86AB;
}

.box a:hover {
  color: gray;
}

.left-proj {
  width: 30%;
  float: left;
  text-align: left;
}

.right-proj {
  width: 68%;
  float: right;
  text-align: left;
  font-size: 100%;
}

.thumbnail {
  width: 100%;
  height: 10vw;
  overflow: hidden;
  margin-bottom: 5px;
}

.thumbnail-right {
  width: 0%;
  display: none;
}

.proj-img {
  width: 100%;
}

.box-title {
  margin: 0px;
  padding: 0px;
  display: inline;
  font-weight: 700;
  font-size: 115%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-content p {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.blank {
  float: left;
  width: 100%;
  font-size: 125%;
  visibility: hidden;
}

/* COURSEWORK */

.box {
  text-align: left;
}

.box.course:hover {
  cursor: auto;
}

/* BLOG */

.blog {
  float: left;
  width: 50%;
}

.blog li {
  text-align: center;
  display: block;
}

/* MOBILE CSS */

@media only screen and (max-width:620px) {
  .sidebar-left, .sidebar-right {
    visibility: hidden;
    width: 0%;
  }

  .sidebar-left {
    width: 10%;
  }
  
  .container {
    width: 80%;
    float: left;
  }

  .mid {
    width: 100%;
    font-size: 200%;
  }

  .svglist {
    margin-bottom: 10px;
  }

  .svglist a {
    margin-left: 10px;
    margin-right: 10px;
  }

  .svglist img {
    width: 13%;
  }

  .full-break {
    width: 0%;
    height: 0vw;
  }

  .important {
    font-size: 150%;
  }

  .personal-desc {
    font-size: 110%;
  }

  .personal-desc.left {
    font-size: 90%;
    text-align: center;
  }

  .mobile-view div {
    width: 90%;
    font-size: 120%;
    visibility: visible;
  }
  
  .mobile-view .personal-desc.left {
    font-size: 110%;
    visibility: visible;
    text-align: left;
  }

  .mobile-view .personal-desc.left.cent {
    text-align: center;
  }

  .experience {
    width: 100%;
  }

  .position {
    font-size: 120%;
  }
  
  .exptitle {
    font-size: 120%;
  }
  
  .expdesc {
    font-size: 100%;
  }
  
  .explink {
    font-size: 100%;
  }
  
  .expdate {
    font-size: 90%;
  }
  
  .description {
    width: 100%;
  }
  
  .fulldesc {
    font-size: 100%;
  }

  .container.list {
    width: 80%;
  }

  .left-proj {
    width: 0%;
    display: none;
  }

  .right-proj {
    width: 100%;
  }

  .thumbnail-right {
    width: 100%;
    display: block;
  }

  .box-title {
    font-size: 110%;
  }

  .box-desc {
    font-size: 100%;
  }

  .blank {
    height: 10vh;
  }
}